
*.cache
BL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.dll
BL/bin/Debug/BL.pdb
BL/bin/Debug/DAL.pdb
BL/bin/Debug/EntityFramework.xml
BL/obj/Debug/BL.pdb
BL/obj/Debug/BL.csproj.FileListAbsolute.txt
ComputerAssembly/bin/Debug/BL.pdb
ComputerAssembly/bin/Debug/ComputerAssembly.exe.config
ComputerAssembly/bin/Debug/ComputerAssembly.pdb
ComputerAssembly/bin/Debug/ComputerAssembly.pdb
